:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cuerpo {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: calc(100dvh - 61px);
    overflow: hidden;
}
app-month-view {
    min-height: 0;
    height: 100%;
    overflow: hidden;
}

app-week-view {
    min-height: 0;
    height: 100%;
    overflow: hidden;
}

app-day-view {
    min-height: 0;
    height: 100%;
    overflow: hidden;
}

app-eventos {
    min-height: 0;
    height: 100%;
    overflow: hidden;
}