<div id="cabecera">
    <h1 class="titulo">{{name}}</h1>
    @if(vistasPage.length > 0){
        <app-selector
            [vistas]="vistasPage"
            [vistaActiva]="vistaActiva"
            (vistaSeleccionada)="onVistaSeleccionada($event)">
        </app-selector>
    }   
    @if(buttons){
    <div id="buttons">
        <app-secondary-button [config]="secondaryButton" (clicked)="secondaryClicked.emit()">
        </app-secondary-button>
        <app-primary-button [config]="primaryButton" (clicked)="primaryClicked.emit()">
        </app-primary-button>
    </div>
    }
</div>