:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.finance-body {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--background-subcolor) transparent;
}
