.prueba{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10px; /* Filas pequeñas para mayor control */
    gap: 10px;
}

.cuadrado{
    background: red;
    width: 100%;
    height: auto;
}

.m{
    grid-row: span 12; /* Ocupa 12 filas pequeñas */
}

.d{
    grid-row: span 22; /* Ocupa 22 filas pequeñas */
}