.importanciaRadios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
}

.tareaItem{
    border-radius: 10px;
    padding: 0px 10px;
    box-shadow: 0px 0px 7px black;
}